#diam_table {
    margin: auto;
    font-family: Menlo;
    font-size: 10px;
}

table {
    padding: 0px;

    border-collapse: collapse;
    table-layout: fixed;

    margin: auto;
}

td {
    height: 15px;
    width: 15px;

    border: 1px solid #000;
    /*padding: 0px;*/

    empty-cells: show;
}