#diam_table {
    margin: auto;
    font-family: Menlo;
    font-size: 10px;
}
html {
    font: 13px "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}
table {
    padding: 0px;
    border-collapse: collapse;
    table-layout: fixed;
    margin: 20px auto;
}
td {
    height: 15px;
    width: 15px;
    border: 1px solid #000;
    /*padding: 0px;*/
    empty-cells: show;
}
#out {
    margin: 20px auto;
}
.inputfile {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}
.inputs {
    display: flex;
    margin: 20px auto;
    margin-bottom: 10px;
}

.number_input {
    width: 20px;
    font: 12px "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    text-align: center;
    font-weight: bold;
    /*padding: 10px;*/
    border: none;
    border-bottom: solid 2px #c9c9c9;
    transition: border 0.3s;
}


.number_input:focus,
.number_input.focus {
    outline: none;
    border-bottom: solid 2px #969696;
}